<ActionBar title="About Us" class="action-bar">
    <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
      <StackLayout horizontalAlign="left">
          <drawer-content></drawer-content>
      </StackLayout>
  </ScrollView>
  <ScrollView orientation="vertical" tkMainContent class="page">
      <GridLayout class="m-5" rows="auto auto auto" *ngIf="leaders">
            <StackLayout row="0" class="border p-10">
              <Label class="h2" text="Our History"></Label>
              <StackLayout>
                <Label class="body"
                  text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."
                  textWrap="true"></Label>
                  <Label class="body"
                    text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."
                  textWrap="true"></Label>
              </StackLayout>
            </StackLayout>
            <Label  row="1" height="40" class="p-10 m-t-10 h3" text="Corporate Leadership"></Label>

            <ListView row="2" height="1000" [items]="leaders" class="list-group p-10">
                <ng-template let-leader="item">
                    <StackLayout orientation="horizontal" class="list-group-item">
                        <Image row="0" col="0" rowSpan="1" height="60" width="60"
                        style="padding: 7em;"
                        [src]="BaseURL + leader.image" class="img-circle"></Image>
                        <StackLayout>
                            <Label class="list-group-item-heading" [text]="leader.name"></Label>
                            <Label class="list-group-item-text" [text]="leader.designation" textWrap="true"></Label>
                            <Label class="list-group-item-text" [text]="leader.description" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </ng-template>
            </ListView>


    </GridLayout>
    <ActivityIndicator busy="true" *ngIf="!(leaders || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
  </ScrollView>
</RadSideDrawer>
